<div class="_container">
  <svg [ngClass]="isMainSeat ? 'main-seat' : 'other-seats'">
    <g *ngFor="let card of player.cardsOnTable, let i = index" [translateSvg]="(i*1.1) + ',' + 0.65">
      <g app-card [cardData]="card" (click)="onCardOnTable($event, i, card)"></g>
    </g>
    <g *ngFor="let card of player.cardsOnCards, let j = index" [translateSvg]="((j*1.1 + 0.05)) + ',' + 0.6">
      <g app-card #onCard [cardData]="card" (click)="onCardOnCard($event, j, card)"></g>
    </g>
    <text id="name" [translateSvg]="1.6525 + ',' + 0.35" text-anchor="middle" [attr.font-size]="4+'vh'" height="5vh"
      style="pointer-events: all; user-select: none;">
      {{player.playerName}}
    </text>
    <foreignObject *ngIf="player.isCurrentPlayer && gameStatus !== 0" id="spinner" x="0" y=".325vh">
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </foreignObject>
    <foreignObject *ngIf="isMainSeat" id="buttons" [translateSvg]="3.2625 + ',' + 0">
      <div id="button-container">
        <button *ngIf="!isReady && (gameStatus == 0)" class="btn btn-primary btn-group-sm d-flex justify-content-center"
          (click)="onReady()">
          I'm ready
        </button>
        <button *ngIf="(gameStatus == 1)" class="btn btn-primary btn-group-sm d-flex justify-content-center"
          [disabled]="!(selectedInHand || selectedOnCard || selectedOnTable)" (click)="onOk()">
          OK
        </button>
      </div>
    </foreignObject>
    <g *ngFor="let card of player.cardsInHand, let k = index" [translateSvg]="(k*0.25) + ',' + 2.1">
      <g app-card #inHand [cardData]="card" (click)="onCardInHand($event, k, card)"></g>
    </g>
  </svg>
</div>
